.downFooter{
    height:150px;
    max-width:100vw;
    background-color: black;
    line-height:150px;
    position:sticky;
    z-index:10;
    margin-top:-50px;
}
ul{padding-left:0px;}
.footerButton{
    height:100px;
    background-color:  rgb(58, 49, 49);
}