.topFooter{
    height:500px;
    background-image: url("../images/footer-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    position:relative;
}
.textLeft{
    text-align: left;
}
li a{
    text-decoration: none;
    color:black;
}