.topFooter{
    height:500px;
    background-image: url("../images/footer-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    position:relative;
}
.marginNegative{margin-left:-20px;}
.textLeft{
    text-align: left;
}
ul{
    padding-left:0px;
    li{
        a{
            text-transform: capitalize;
        }
    }
}