@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap);#topNavbar {
  height: 50px;
  background-color: dodgerblue;
}

li {
  font-weight: bold;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: black;
}

.jumbotron {
  height: 400px;
  max-width: 100%;
  background-image: url("../images/jumbotron.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

#main {
  min-height: 500px;
  max-width: 100%;
}

.mainTitle {
  background-color: dodgerblue;
}

#sectionFans {
  background-color: dodgerblue;
  height: 150px;
  max-width: 100%;
}

.lineHeight {
  line-height: 150px;
}