@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap);#topNavbar {
  height: 50px;
  background-color: dodgerblue;
  line-height: 50px;
}

span a {
  text-decoration: none;
  color: white;
}

li {
  font-weight: bold;
  list-style-type: none;
}
li a {
  color: gray;
  text-decoration: none;
}

.jumbotron {
  height: 400px;
  max-width: 100%;
  background-image: url("../images/jumbotron.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

#main {
  min-height: 500px;
  max-width: 100%;
}

.mainTitle {
  background-color: dodgerblue;
}

.singleCard {
  max-height: 250px;
}

.w-80 {
  max-width: 80%;
}

img {
  max-width: 100%;
}

.flexBasis {
  width: 16.6666666667%;
}

#sectionFans {
  background-color: dodgerblue;
  height: 150px;
  max-width: 100%;
}

.lineHeight {
  line-height: 150px;
}

.topFooter {
  height: 500px;
  background-image: url("../images/footer-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.marginNegative {
  margin-left: -20px;
}

.textLeft {
  text-align: left;
}

ul {
  padding-left: 0px;
}

.downFooter {
  height: 150px;
  max-width: 100vw;
  background-color: black;
  line-height: 150px;
  position: sticky;
  z-index: 10;
  margin-top: -50px;
}

ul {
  padding-left: 0px;
}

.footerButton {
  height: 100px;
  background-color: rgb(58, 49, 49);
}